name: Deploy to Tencent Cloud
on:
  push:
    branches: [ main ] # 当代码推送到main分支时触发
jobs:
  build:
    runs-on: Ubuntu-latest
    strategy:
      matrix:
        node-version: [20.x]
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${ { matrix.node-version } }
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm install
      - run: npm run build --if-present
      
      - name: Deploy to Server
        uses: appleboy/ssh-action@master
        with:
         host: ${{ secrets.BUCKET }}
         username: ${{ secrets.USERNAME }}
         key: ${{ secrets.TENCENT_SECRET_KEY }} # 使用 password 参数
         port: 22
         timeout: 30s
         script: |
           cd /home/ubuntu/my-website
           # 请确保这是你创建的真实路径
           # 首次部署：克隆仓库到当前目录（末尾的点 . 很重要！）
           # git clone https://github.com/bai-bo1989/zzy-blog.git .
           # 后续可以添加你的构建、重启等命令
           npm install && npm run build
