name: Deploy to Tencent Cloud
on:
  push:
    branches: [ main ] # 当代码推送到main分支时触发
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Deploy to Server
        uses: appleboy/ssh-action@master
        with:
         host: ${{ secrets.BUCKET }}
         username: ${{ secrets.USERNAME }}
         password: ${{ secrets.PASSWORD }} # 使用 password 参数
         port: 22
         timeout: 30s
         script: |
           # 在这里写入需要在服务器上执行的命令
           cd /your/project/path
           git pull origin main
